table 
{
    width: 100%;
    font: 17px Calibri;
}
table, th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
      
input[type='button'] 
{
    font: 15px Calibri;
    cursor: pointer;
    border: none;
    color: #FFF;
}
        
input[type='text'], select 
{
    font: 17px Calibri;
    text-align: center;
    border: solid 1px #CCC;
    width: auto;
    padding: 2px 3px;
}